body{
  width: auto;
}
@media (max-width: 599px) {
  body{
    background-color: aliceblue;
    overflow-x: hidden;
    
  }
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: center;
}
